* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #00C9FF;
}

html {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Common */
.line {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #92FE9D, #00C9FF);
    margin: 10px auto;
    border-radius: 999px;

}

.btn {
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* App */
.background-app {
    height: 100vh;
    filter: blur(200px);
    background: #00C9FF;
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  
    background: linear-gradient(to right, #92FE9D, #00C9FF); 
    z-index: -1;
    position: relative ;
}

.music-player {
    width: 65%;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020a9;
    padding: 20px 40px;
    border-radius: 16px;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    font-weight: 600;
    font-size: 40px
}

.header__search {
    background-color: #fff;
    border-radius: 999px;
    display: flex;
    align-items: center;
}

.input-search {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 20px;
    width: 300px;
    height: 46px;
}

::placeholder {
    color: rgba(37, 37, 37, 0.247);
}

.btn-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 2px;
    background-image: linear-gradient(to right, #92FE9D, #00C9FF);
    background-clip: text;
}


.wrap-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

}
/* Player */
.player {
    width: 50%;
}

.player__header {
    display: inline-block;
    background-image: linear-gradient(to right, #92FE9D, #00C9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.player-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.player__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-body__name-song {
    font-size: 24px;
    font-weight: 400;
}

.player-body__author {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    opacity: 0.8;
    margin-top: 6px;
}

.cd__cd-thumb {
    margin-top: 12px;
    display: inline-block;
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    -webkit-box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 24px 5px rgba(0,0,0,0.3);
}

.background-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.progress {
    -webkit-appearance: none;
    width: 90%;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(to right, #92FE9D, #00C9FF);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 20px;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition:  .3s ease-in-out;
  }
  
.progress::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
} 

.control {
    display: flex;
    column-gap: 30px;
    margin-top: 20px;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

/* Playlist */
.playlist {
    width: 40%;
    background-color: #00000065;
    border-radius: 12px;
    padding: 12px 20px;
    max-height: 100%;
}

.playlist__header {
    background-image: linear-gradient(to right, #92FE9D, #00C9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

.playlist__header::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 999px;
    background: linear-gradient(to right, #92FE9D, #00C9FF);
}

.list-songs {
    height: 460px;
    overflow: auto;
}



.item-song {
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color: #00000065;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.item-song__img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
    display: inline-block;
}

.item-song__info {
    margin-right: auto;
}

.item-song__name {
    font-size: 18px;
    font-weight: 500;
}

.item-song__author {
    font-size: 15px;
    opacity: 0.6;
}

.item-song__time {
    font-size: 18px;
    margin-right: 8px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fafafa79; 
}

::-webkit-scrollbar-thumb {
    background: #c9c9c9; 
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #92FE9D, #00C9FF);
  }
