* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gradient-color: linear-gradient(to left, rgba(255,95,160,1) 0%, rgba(121,185,241,1) 33%, rgba(252,181,248,1) 67%, rgba(57,245,222,1) 100%);
}

html {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Common */
.line {
    width: 100%;
    height: 4px;
    background: var(--gradient-color);
    margin: 10px auto;
    border-radius: 999px;

}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn.active {
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* App */
.background-app {
    height: 100vh;
    
    background: var(--gradient-color); 
    
}

.background-app {
    /* filter: blur(200px); */
    background: var(--gradient-color);
    background-size: 400% 400%;
    height: 100vh;
    z-index: -1;
    position: relative;
    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.music-player {
    width: 1150px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020a9;
    padding: 20px 40px;
    border-radius: 16px;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    font-weight: 600;
    font-size: 40px
}

.header__search {
    background-color: #fff;
    border-radius: 999px;
    display: flex;
    align-items: center;
}

.input-search {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 20px;
    width: 300px;
    height: 46px;
}

::placeholder {
    color: rgba(37, 37, 37, 0.247);
}

.btn-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 2px;
    background-image: var(--gradient-color);
}

.btn-search:hover {
}

.wrap-content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

}
/* Player */
.player {
    width: 50%;
}

.player__header {
    display: inline-block;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.player-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-body__name-song {
    font-size: 24px;
    font-weight: 400;
}

.player-body__author {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    opacity: 0.8;
}

.cd__cd-thumb {
    margin-top: 20px;
    display: inline-block;
    width: 420px;
    height: 300px;
    object-fit: contain;
    border-radius: 12px;
    -webkit-box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 24px 5px rgba(0,0,0,0.3);
}

.background-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.progress {
    -webkit-appearance: none;
    width: 90%;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: var(--gradient-color);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    margin: 0 20px;
    cursor: pointer;
}

/* custom progress */
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: all .3s ease-in-out;
  }

.control {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

/* Playlist */
.playlist {
    width: 42%;
    background-color: #00000065;
    border-radius: 12px;
    padding: 12px 20px;
    height: 100%;
}

.playlist__header {
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

.playlist__header::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 999px;
    background: var(--gradient-color);
}

.list-songs {
    height: 450px;
    overflow: auto;
}



.item-song {
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color: #00000065;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}


.item-song.active .item-song__name,
.item-song.active .item-song__author,
.item-song.active .item-song__time {
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-song.active .item-song__img {
    filter: revert;
}

.item-song.active .item-song__img::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 28%;
    right: 15%;
    background-image: url(./assets/gif/icon-playing.gif)!important; /*https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/icons/icon-playing.gif*/
    background-size: 80%;
    background-repeat: no-repeat;
    filter: none !important;
}

.item-song:hover {
    background-color: #0000004d;
    filter: brightness(1.3);
}

.item-song.active:hover {
    filter: none;
    background-color: #00000065;
}

.item-song__img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.item-song__info {
    margin-right: auto;
}

.item-song__name {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 18px;
    font-weight: 500;
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-song__author {
    font-size: 12px;
    opacity: 0.6;
}

.item-song__time {
    font-size: 18px;
    margin-right: 8px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fafafa79; 
}

::-webkit-scrollbar-thumb {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gradient-color);
}
